<div class="row mb-2">
    <div class="col-md-12" style="background-color:@Background">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">فروشگاه محصولات  نیما</strong>
                <h3 class="mb-0">@Title</h3>
                <div class="mb-1 text-body-secondary">@DateTime.Now.ToShortDateString()</div>
                @if (!string.IsNullOrEmpty(Description))
                {
                    <p class="mb-auto" style="text-align:justify">@Description</p>
                }
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    مشاهده بیشتر
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="@Image" style="width:100%" class="card-img-top" alt="@Title" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? Image { get; set; }

    [Parameter]
    public string? Background { get; set; }
}
